body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00aeff;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
}

.search {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.search input, .search button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    background-color: #ff0000;
    color: white;
    border: none;
}

.search button:hover {
    background-color: #ff0059;
}

.results {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
